@charset "UTF-8";
/*mixin sizes*/
body {
  background-color: rgba(23, 21, 21, 0.875);
}
body img {
  max-width: 100%;
}
body * {
  margin: 0;
  padding: o;
}

header {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  body {
    background-color: rgb(226, 107, 127);
  }
}
@media screen and (max-width: 460px) {
  body {
    background-color: rgb(104, 61, 68);
  }
}
h1 {
  text-align: center;
}

.video-escuela {
  width: 800px;
  height: 600px;
}

.grid {
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: 4, 1fr;
}

.grid div {
  border: solid 2px rgb(245, 245, 245);
}

.footer p, footer p {
  color: blanchedalmond;
}

/*Index dispositivos medianos*/
@media screen and (max-width: 768px) {
  .video-escuela {
    width: 400px;
    height: 300px;
  }
}
/*Index dispositivos pequeños*/
@media screen and (max-width: 460px) {
  .video-escuela {
    width: 250px;
    height: 300px;
  }
}
/*empieza docentes*/
body {
  background-color: rgba(23, 21, 21, 0.875);
}

footer {
  color: blanchedalmond;
}

.docentes {
  display: grid;
  grid-template-columns: 4, 1fr;
  grid-template-rows: 4, 1fr;
  grid-template-areas: "1 2";
  border: solid 2px rgb(245, 245, 245);
}

@media screen and (max-width: 768px) {
  body {
    background-color: rgb(211, 100, 118);
  }
}
@media screen and (max-width: 460px) {
  body {
    background-color: rgb(104, 61, 68);
  }
}
h1 {
  color: blanchedalmond;
}

.docentes {
  display: flex;
  flex-direction: column;
  border: solid 2px rgb(245, 245, 245);
}

.foto-profe {
  width: 12rem;
  height: 12rem;
}

/*empieza clases*/
table {
  color: antiquewhite;
}

#lista-desordenada {
  color: aliceblue;
  margin-bottom: 100px;
  font-weight: bold;
}

ol {
  color: aliceblue;
}

.container-table {
  border: solid 1px blanchedalmond;
  width: 622px;
  height: 1380px;
}

.container-table {
  background-image: linear-gradient(to right, rgb(39, 38, 38), rgb(226, 96, 117));
}

/*clases para media query pequeños*/
@media screen and (max-width: 460px) {
  .foto-clase {
    width: 350px;
  }
  .container-table {
    width: 30rem;
    height: 30rem;
  }
}
/*empieza muestras*/
h1 {
  color: blanchedalmond;
}

.card-muestra {
  padding: 1rem;
  margin-bottom: 5rem;
}

/*acá empieza Muestras */
.grilla {
  display: grid;
}

.Item5 {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to left, grey, rgb(226, 96, 117));
}

.galeria {
  /*puedo hacer algo con grid en galeria*/
  display: flex;
  flex-direction: column;
  width: 536px;
  height: 363px;
}

/* media querie para dispositivos moviles medianos muestras*/
@media screen and (max-width: 768px) {
  .galeria {
    width: 348px;
  }
}
/*media querie para dispositivos pequeños muestras  */
/*tienda*/
@media screen and (max-width: 460px) {
  .tienda {
    width: 318px;
    height: 1770px;
    margin-top: 10px;
  }
  .card-muestra {
    width: 181px;
    height: 500px;
    margin-bottom: 50px;
    margin-right: 65px;
  }
  .galeria {
    width: 105px;
    height: 106px;
  }
  .card-foto {
    width: 50px;
    height: 50px;
  }
}
/*Acá empieza contactos versión desktop */
h1 {
  color: blanchedalmond;
}

h2 {
  color: rgb(230, 211, 214);
}

.caja-mala {
  border: solid 0.2rem;
  padding: 4rem;
  display: inline-block;
  font-size: 1.6rem;
  width: 1rem;
  height: 1rem;
  font-family: arial;
  overflow: visible;
  background-image: linear-gradient(to left, grey, rgb(226, 96, 117));
}

.caja-flex {
  display: flex;
}

.card {
  border: solid 0.1rem pink;
  width: 20rem;
  padding: 2rem;
  position: relative;
}

.card_image .adulg {
  border: solid 0.1rem pink;
  width: 20rem;
  padding: 2rem;
  position: relative;
}

div {
  margin-top: 50px;
  color: antiquewhite;
  font-weight: bolder;
}

.card_parrafo {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.card_image {
  width: 16rem;
  height: 20rem;
}

.boton, .card-muestra {
  padding: 1rem;
  margin-bottom: 5rem;
}

.mapa {
  margin-top: 2rem;
}

footer {
  color: antiquewhite;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* media querie para dispositivos moviles medianos contacto*/
@media screen and (max-width: 768px) {
  .caja-flex {
    display: grid;
    grid-template-columns: 4, 1fr;
    grid-template-rows: 2, 1fr;
    grid-template-areas: "card1 card2" "card 3 card 4";
  }
  .card {
    width: 346px;
  }
  .card_image {
    width: 11rem;
    height: 12rem;
  }
  /*media querie para dispositivos pequeños contacto */
}
@media screen and (max-width: 768px) and (max-width: 460px) {
  .caja-flex {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 20rem;
    height: 25rem;
    padding: 2rem;
  }
  .card_image {
    width: 15rem;
    height: 28rem;
  }
  .mapa {
    width: 352px;
  }
}

/*# sourceMappingURL=styles.css.map */
