/* Error: This at-rule is not allowed here.
 *    ,
 * 65 |             @else if $fiesta==navidad{
 *    |             ^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\_globales.scss 65:13  @import
 *   scss\styles.scss 3:10      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: This at-rule is not allowed here.\a    \2577 \a 65 \2502              @else if $fiesta==navidad{\d\a    \2502              ^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\_globales.scss 65:13  @import\a   scss\\styles.scss 3:10      root stylesheet";
}
