body {
    img {
        max-width: 100%;
    }
    * {
      margin: 0;
      padding: o;
    }

    background-color:$bg-body
    }

    @media screen and (max-width:768px) {
        body {
       background-color:pink ;
        }
     }
    
    
    @media screen and (max-width :460px) 
    {
        body {
       background-color:rgb(104, 61, 68) ;
        }
     }  