/*empieza clases*/

 .container {
    border: solid 2px  white;
 }
 .columna {
  border: solid 2px  white;
 }

table {
    color:antiquewhite;
  }
  
  
  #lista-desordenada {
    color:aliceblue;
    margin-bottom:100px ;
    font-weight:bold ;
  }
  
  ol {
    color: aliceblue;
  }
  
  .container-table {
    border: solid 1px  blanchedalmond;
    width: 622px;
    height: 1380px ;
    }
  .container-table {
    background-image: linear-gradient(to right ,rgb(39, 38, 38), rgb(226, 96, 117));
    
   
  
  }
  
  
  /*clases para media query pequeños*/
  
  @media screen and (max-width:$pantalla-mobile) 
  {
    .foto-clase {
      width:350px;
        }

      .container-table {
        border: solid 1px  blanchedalmond;
      
        @include sizes(25rem,89rem) ;
        }
 
    
        }
    
  
    

    
 
      
     
  