/*Acá empieza contactos versión desktop */

h1 {
  color:$h1-color;
}
h2 {
  color:$h2-color
}
h4 {
  text-align: center;
  font-size: 2rem ;
}
 h5 {
  font-size: 1.8rem;
 }
.caja-mala {
  border:solid 0.20rem ;
  padding:4rem;
  display:inline-block;
  font-size:1.6rem ;
  width:1rem ;
  height:1rem;
  font-family:arial;
  overflow:visible;
  background-image:linear-gradient(to left ,grey, rgb(226, 96, 117)) ;
}
.caja-flex {
  display: flex;
  box-shadow: 0px 2px 10px pink ;
  cursor:default;
  transition: all 400ms ease;
}
.card {
  border:solid .1rem pink ;
  background-color:#E69867 ;
  width:calc($separacion + 10rem) ;
  padding:calc($separacion - 8rem);
  position: relative;
   
}
.caja-flex :hover {
  box-shadow: 5px 5px 20px pink ;
 transform: translateY(-3%);
}

.card_image
.adulg {
  border:solid .1rem pink ;
  width:20rem ;
  padding:2rem;
  position:relative;

}



div {

  margin-top:50px ;
  color:antiquewhite;
  font-weight:bolder;
}


.card_parrafo {
  font-size:$fuente-chica;
  margin-bottom:2rem ;
  color:#241D0C ;
}

.card_image {

  @include sizes (16rem,20rem);
 
}
.boton {
 @extend .botones-generales ;
}

.mapa {
  margin-top:2rem;

}


footer {
  color:antiquewhite;
}



form {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
font-size: 1.5rem;
  
} 

.contenedor-opciones 
{
  @include flex-column;
  align-items: center;
  font-size: 1.5rem;
}
.contenedor-labels {
  display:flex;
  gap:30px;
}

.boton-comunicacion {
  background-color:rgb(224, 104, 124) ;
  color:rgb(59, 58, 58);
  font-weight:bold;
  padding: 5px 15px;
 }





/* media querie para dispositivos moviles medianos contacto*/


@media screen and (max-width:$pantalla-mediana) 

{
   .caja-flex {
    display: grid;
    grid-template-columns:4,1fr ;
    grid-template-rows: 2,1fr;
    grid-template-areas:
    "card1 card2" 
    "card 3 card 4" ;
   }
  .card {
  
   width:346px;

  }
  .card_image {
    @include sizes (11rem,12rem);
    
}
.boton-comunicacion {
  background-color:rgb(233, 229, 229) ;
  color:black;
}
}

/*media querie para dispositivos pequeños contacto */

@media screen and (max-width:$pantalla-mobile) 
{
  .caja-flex {
  @include  flex-column;
  }

  .card-muestra {
    width:243px; ;

    height:667px;
  }
  .card {

  @include sizes (20rem,25rem);
  
  padding:2rem;
   
    

  }

  .card_image {
    @include sizes (15rem,28rem);

  }
  .mapa {
  width: 352px;
  }
}  
