
/*empieza docentes*/
body {
  background-color:$bg-body;
  }
  
footer {
  color: blanchedalmond;
}    

.docentes {
  display: grid;
  grid-template-columns: 4, 1fr;
  grid-template-rows: 4, 1fr;
  grid-template-areas: "1 2";
  border: solid 2px rgb(245, 245, 245);}

@media screen and (max-width:$pantalla-mediana) {
  body {
 background-color:rgb(211, 100, 118) ;
  }
}


@media screen and (max-width:$pantalla-mobile) 
{
  body {
 background-color:rgb(104, 61, 68) ;
  }
}  
   h1 {
    color: blanchedalmond;
   }

   .docentes {
    @include flex-column;
    
    border: solid 2px rgb(245, 245, 245);
   }
   .data-aos {
    animation-duration: 10s; 
   }

   .foto-profe {

    @include sizes (12rem ,12rem);
    
  

    }

    