body {
    img {
        max-width: 100%;
    }
    * {
      margin: 0;
      padding: o;
    }

    background-color:$bg-body
    }

    header {
        background-image:url(../img/fondo.jpg) ;
        background-size: cover;
        background-attachment:fixed;
        background-repeat:no-repeat ;
        
        }
    
    footer { 
        @extend .footer ;
    }

    .botones-generales {
        padding :1rem;
        margin-bottom:5rem;
    }
  

    @media screen and (max-width:$pantalla-mediana) {
        body {
       background-color:rgb(226, 107, 127) ;
        }
     }
    
    
    @media screen and (max-width :$pantalla-mobile) 
    {
        body {
       background-color:rgb(104, 61, 68) ;
        }
     }  