body {
    img {
        max-width: 100%;
    }
    * {
      margin: 0;
      padding:0;
    }
    /*condicionales*/

    @if $fiestas==pascuas {
        background-color: gold;

    }

    @else if $fiestas==padre {
        background-color: blue;
    }

    @else if $fiestas==navidad {
        background-image: linear-gradient(to left, rgb(121, 8, 8), rgb(3, 32, 3));
    }

    @else {
        background-color: $bg-body;

    }
     }

     
    
     h1 {
        animation-duration: 6s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
      }
 
   
    header {
        background-image:url(../img/fondo.jpg) ;
        background-size: cover;
        background-attachment:fixed;
        background-repeat:no-repeat ;
        
        @if $fiestas==pascuas {
            background-image: url(../img/pascuas.jpg);
    
        }
        
            @else if $fiestas==padre {
                background-image: url(../img/fatherday.jpg);
                height: 50rem;
            }@else if $fiestas==navidad{
                background-image:url(../img/navidad.webp);
                height: 50rem;}
            @else  {
           background-image: url(../img/fondo.jpg);
            }
            }


        
          .nav-item :hover{
            
                color: rgb(252, 69, 99)  ;
                
          }
            .data-aos {
                animation-duration: 10s; 
               }

        .nav-item {
            font-size:2rem;
            color:#DBE5F7;
        }

       

        p {
            font-size:1.5rem;
        }
            
  

    .botones-generales {
        padding :1rem;
        margin-bottom:5rem;
    }
  

    @media screen and (max-width:$pantalla-mediana) {
        body {
       background-color:#FC7EA8 ;
        }

        header {
                
             @if $fiestas==navidad{
                background-image:url(../img/navidadmediana.jpeg);
             }@else { background-image: url(../img/fondo.jpg);
     }
    }
    }
    
    
    @media screen and (max-width :$pantalla-mobile) 
    {
        body {
       background-color:#914159 ;
        }
        header {
                
            @if $fiestas==navidad{
               background-image:url(../img/navidadpequeña.jpeg);
            }@else { background-image: url(../img/fondo.jpg);
    }
   }
     }  


     /*mapas*/
     $redessociales:(
        twitter:blue ,
        facebook: #3a5795 ,
        send-email:#C25E30,
     );
     /*creando el bucle para usar valores en el mapa*/
     @each $redsocial,$color in $redessociales {
        .btn--#{$redsocial}{
            background-color:$color ;
        }
        
     }

     /*mediaquery dispositivos medianos*/

     @media screen and (max-width:$pantalla-mediana)  {
        
        .navbar-toggler-icon{
            color:#DBE5F7;
        }
        button.collapse navbar-collapse {
            color:#DBE5F7;
        }
     }

     /*mediaquery dispositivos pequeños*/
     
     @media screen and (max-width:$pantalla-mobile)  {
        
        .navbar-toggler-icon{
            color:#DBE5F7;
        }
        button.collapse navbar-collapse {
            color:#DBE5F7;
        }
     }