
    
  
  .video-escuela {
    width: 800px; 
    height: 600px;
  }
  
  .grid  {
    
    display: grid;
    grid-template-columns:1 , 1fr ;
    grid-template-rows:4,1fr ;

   
    }
   
    .grid div  {
  
    border:solid 2px rgb(245, 245, 245)
    }
  
   /*Index dispositivos medianos*/
  
  
    @media screen and (max-width:768px) {
      .video-escuela {
        width: 400px;
        height:300px;
       
       }
   }
  /*Index dispositivos pequeños*/
  
  @media screen and (max-width :460px) 
  {
    .video-escuela {
      width: 350px;
      height:300px;
      }
     
   }  
  
 
