$bg-body:rgba(23, 21, 21, 0.875);
$bg-header:url(../img/fondo.jpg);
$titulos-secundarios: "Roboto", sans-serif;
$bg-imagen:url(../img/fondo.jpg);
$pantalla-pequeña:460px;
$pantalla-mediana:768px;
$pantala-grande:auto;
