$bg-body:#5E646B;
$bg-header:url(../img/fondo.jpg);
$titulos-secundarios: "Roboto", sans-serif;
$fuente-mediana:2rem;
$fuente-chica:1rem;
$bg-imagen:url(../img/fondo.jpg);
$h1-color:#F7F4D5;
$h2-color:#F2CBD0;
$h3-color:#F2EFD0;
$pantalla-mobile:460px;
$pantalla-mediana:768px;
$pantala-grande:auto;

@mixin flex-column {
    
    display:flex;
    flex-direction:column;
        }

/*mixin sizes*/
@mixin sizes ($width,$height) {
    width:$width ;
    height:$height;
    
}

/*separacion operaciones*/
$separacion:10rem;

/*variable para fiestas*/

$fiestas:$bg-body;




