

* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}



img {
  max-width:100%;
}

h1 {
  color: blanchedalmond;
  display: flex;
  justify-content: center;
}

h1 {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h2 {
  color: rgb(222, 170, 179);
  display: flex;
  justify-content: center;
}

h3 {
  color: antiquewhite;
  font-family: "Roboto", sans-serif;
}

h4 {
  color: antiquewhite;
  font-family: "Roboto", sans-serif;
}

h5 {
  color: antiquewhite;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgba(23, 21, 21, 0.875);
}

header {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/*redes sociales para desktop*/
.container-redes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icon-preview {
  width: 30px;
  height: 30px;
}

.icon-insta {
  width: 30px;
}

.icon-youtube {
  width: 30px;
}

.icon-whatsapp {
  width: 30px;
}

/*redes sociales para media querie dispositivos medianos */
@media screen and (max-width: 768px) {
  .container-redes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .icon-preview {
    width: 30px;
  }
  .icon-insta {
    width: 30px;
  }
  .icon-youtube {
    width: 30px;
  }
  .icon-whatsapp {
    width: 30px;
  }
}


.card {
  border:solid .1rem pink ;
  width:20rem ;
  padding:2rem;
  position:relative;
  p {
    font-size:1.6rem
  }}